@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
.wrapper {
  margin: 20px 30px;
}
header h1 {
  text-align: center;
  padding: 20px;
  color: #084198;
  border-radius: 5px;
  border: 1px solid lightblue;
  background-color: #cfe2fe;
}
main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 4fr 8fr;
  gap: 30px;
}
.add-data,
.table-container {
  border-radius: 5px;

  border: 1px solid lightgray;
}

.add-data form {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
}

form label {
  margin-bottom: 5px;
}
form input[type="number"],
form input[type="text"],
form select,
form input[type="email"] {
  margin-bottom: 15px;
  height: 40px;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid lightgray;
  outline: none;
}

.row {
  margin-bottom: 10px;
}
.row label {
  padding: 0px;
  margin: 0px;
  margin-right: 15px;
}
.row .fa-solid {
  margin-left: 4px;
}
.controller button,
form input[type="submit"],
form input[type="reset"] {
  padding: 8px;
  width: 80px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #084198;
}
.hide {
  display: none;
}
form input[type="reset"] {
  margin-left: 10px;
}
.show-data .table-container {
  padding: 15px;
}
.table-container table {
  border-collapse: collapse;
  width: 100%;
}
.table-container table thead {
  text-align: left;
  border-bottom: 2px solid red;
  height: 50px;
}

.table-container table tbody tr {
  height: 35px;
  border-bottom: 0.5px solid lightgray;
  text-transform: capitalize;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tbody tr:hover {
  background-color: #ddd;
}
.table-container table tbody tr td:nth-of-type(7) {
  text-transform: lowercase;
}
table tbody tr td .fa-solid,
table tbody tr td .fa-regular {
  margin-left: 6px;
}
table tbody tr td .fa-trash,
table tbody tr td .fa-pen-to-square {
  background-color: red;
  padding: 5px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}
.result-content {
  background-color: rgb(79, 216, 79);
  color: white;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
}
.result-content h3 {
  display: inline;
}
@media screen and (max-width: 1048px) {
  main {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
